h1{
    color: #7e7e7e;
}
input::placeholder{
    color: #d7d7d7;
}
input{
    padding: 5px;
}
.margin_on{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hello{
    color: #04B4AE;
    font-size: 20px;
    text-align: center;
}
.salons_name{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e7e7e7;
}
.salons_name a, .user{
    color: #04B4AE;
}
